<!DOCTYPE html>
<html>
  <head>
    <title>m4ck's_website</title>
    <style type="text/css">
      body {
       background-image:url('http://1.bp.blogspot.com/-OOIbYFZ8P-8/UC4JolGf_uI/AAAAAAAABx0/6m1Rs25hUNk/s1600/IMG_3462.jpg');
		  background-image(/public/rainbow.jpg);
      background-size: 100%;
        display: block;
       padding-top: 200px;
        text-align: center;
      }
/*      a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 200px;
      }*/
      div {
        display: block;
        margin: 0 auto;

      }
    </style>
  </head>
 
  <body>

    <a href="http://vimeo.com/mackhowell/" target="_blank">
<img src="https://dl.dropboxusercontent.com/u/25227498/hire_me_spring2013.png" border="0" style="border:none;max-width:100%;" alt="" />
</a> 

  </body>

<!--   <div class="card">
    <a href="http://vimeo.com/mackhowell/">
    <img src="https://dl.dropboxusercontent.com/u/25227498/hire_me_spring2013.png" />
  </a>
    </div> -->
<!-- </div> -->
</html>