<!DOCTYPE html>
<html>
  <head>
    <title>iphone-recent-searches</title>
    <style type="text/css">
      body {

       background-image:url('https://dl.dropboxusercontent.com/u/25227498/ios-5-wallpaper---water-drops_00438009.jpg');
/*		  background-image(/public/rainbow.jpg);*/
      background-size: 100%;
        display: block;
       padding-top: 10px;
        text-align: center;
      }
/*      a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 200px;
      }*/
      div {
        display: block;
        margin: 0 auto;

      }
    </style>
  </head>
 
  <body>
    <br></br>
    <br></br>
    <img src="https://dl.dropboxusercontent.com/u/25227498/search_history_title_2.png">
    <br></br>
    <br></br>
    <br></br>


<!-- <img src="https://dl.dropboxusercontent.com/u/25227498/IMG_2876.png">
<br></br>
<img src="https://dl.dropboxusercontent.com/u/25227498/IMG_2876.png">
<br></br>
<img src="https://dl.dropboxusercontent.com/u/25227498/IMG_2876.png">
<br></br>
<img src="https://dl.dropboxusercontent.com/u/25227498/IMG_2876.png">
<br></br> -->

  </body>

<!--   <div class="card">
    <a href="http://vimeo.com/mackhowell/">
    <img src="https://dl.dropboxusercontent.com/u/25227498/hire_me_spring2013.png" />
  </a>
    </div> -->
<!-- </div> -->
</html>